@using Harbour.RedisTempDataSample.Controllers
@{
    ViewBag.Title = "About Us";

    var pageCount = TempData.Peek(ApplicationController.PageCountKey);
}

<h2>About</h2>

@if (pageCount != null) {
    <p>
        Page count: @pageCount
    </p>
}